<a href="https://colab.research.google.com/github/rizkyanugrah/DATMIN_POSTTEST-1/blob/main/B_2021_2109116066_POSTTEST1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Posttest Praktikum Sistem Informasi </h1>

NIM **2109116066**

NAMA **Muhammad Rizky Anugrah**

> Kerjakanlah tugas berikut berdasarkan instruksi yang diberkan. Kumpulkanlah hasil posttest ini pada Github dengan mengumpulkan link repository kalian.

Disini ada dua jenis tugas.

1. Visualisasi
2. Penerapan Algoritma Naive Bayes


Ketentuan pengumpulan tugas :
1. Kumpul Tugas ini dengan Format Kelas_NIM_Posttest 1.ipynb
2. Kumpulkan dalam bentuk link repository github
3. Berikan penjelasan untuk setiap blok kode dengan membuat text atau comment pada kodingan
4. Untuk bagian penjelasan gausa terlalu panjang. 
singkat padat dan jelas

## Business Understanding & Data Understanding

Importlah pandas, seaborn, dan plotly

Download dataset dari link ini [**Link Dataset**](https://github.com/fnikolas-r/Data-Mining-Course/blob/main/Pertemuan%202/ChurnBank.csv)




Kemudian taruhlah dalam sebuah variabel bernama df


*note: kalian dapat menambah blok yang ada*

In [ ]:
# Library
import pandas as pd
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [ ]:
# Buatlah datasetnya disini
#  Data Set
df = pd.read_csv("ChurnBank.csv")
df

,Unnamed: 0,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Education_Level,Marital_Status,Income_Category,Card_Category,Credit_Limit
0,6036,720010608,Attrited Customer,37,M,Unknown,Single,$40K - $60K,Blue,10226.0
1,6684,711323283,Attrited Customer,57,M,Uneducated,Married,$60K - $80K,Blue,2527.0
2,4272,794707083,Attrited Customer,50,M,College,Single,$80K - $120K,Blue,3495.0
3,9759,709657533,Attrited Customer,44,M,High School,Unknown,$120K +,Blue,7793.0
4,4740,716625033,Attrited Customer,32,F,Graduate,Single,Less than $40K,Blue,2761.0
5,9597,715076358,Attrited Customer,57,M,Post-Graduate,Unknown,$80K - $120K,Blue,23714.0
6,5009,804829533,Attrited Customer,59,M,High School,Single,$60K - $80K,Blue,24621.0
7,8200,712144158,Attrited Customer,53,F,Graduate,Single,Less than $40K,Blue,2370.0
8,5016,795599883,Attrited Customer,57,F,Uneducated,Married,Unknown,Blue,2404.0
9,8350,709222008,Attrited Customer,41,M,Unknown,Single,$80K - $120K,Blue,4742.0
10,8139,809844108,Existing Customer,48,M,Doctorate,Single,$60K - $80K,Blue,8086.0
11,176,716264358,Existing Customer,53,M,Uneducated,Married,$80K - $120K,Blue,26792.0
12,8020,778163508,Existing Customer,37,F,High School,Married,Unknown,Blue,5245.0
13,357,711857733,Existing Customer,49,M,Uneducated,Single,$60K - $80K,Blue,18584.0
14,6562,720070383,Existing Customer,41,F,Uneducated,Single,Unknown,Blue,2429.0
15,4563,809809008,Existing Customer,47,F,Graduate,Married,Less than $40K,Blue,3111.0
16,10084,718161708,Existing Customer,46,F,Graduate,Married,Less than $40K,Blue,7562.0
17,5725,771079833,Existing Customer,40,F,High School,Single,Less than $40K,Blue,1438.3
18,2587,711639708,Existing Customer,42,M,Graduate,Single,$60K - $80K,Blue,1438.3
19,8226,713700258,Existing Customer,55,F,Post-Graduate,Married,Unknown,Blue,2953.0

### Business Understanding

Disini kamu berandai andai bahwa kamu adalah direktur sebuah perusahaan, kamu menggunakan dataset ini dan akan menggunakan algoritma Naive Bayes untuk perkembangan perusahaan kamu. Jelaskan tujuan penggunaan dataset ini, tujuan perusahaan, serta tujuan dari penggunaan naive bayes (beri penjelasan di text ini)

### Data Understanding

In [ ]:
# isinya dataset dengan label target AttiredCustomer
df1 = df[df["Attrition_Flag"] == "Attrited Customer"]

# label bukan Attrired customer
df2 = df[df["Attrition_Flag"] != "Attrited Customer"]

# dengan tabel untuk usia dibawah 50 tahun
df3 = df[df["Customer_Age"] < 50]

# untuk customer yang statusnya itu single
df4 = df[df["Marital_Status"] == "Single"]

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
df4

In [ ]:
#@title Opsional (nilai plus)

# Tampilkan nilai rata-rata, min,max, dan standar deviasi  untuk setiap kolom bertipe angka
print(df.describe())

         Unnamed: 0     CLIENTNUM  Customer_Age  Credit_Limit
count     20.000000  2.000000e+01     20.000000     20.000000
mean    6105.100000  7.424893e+08     47.250000   8114.580000
std     2850.304026  4.045524e+07      7.859791   8331.036819
min      176.000000  7.092220e+08     32.000000   1438.300000
25%     4695.750000  7.120726e+08     41.000000   2502.500000
50%     6299.000000  7.173934e+08     47.500000   4118.500000
75%     8206.500000  7.822994e+08     53.500000   8621.000000
max    10084.000000  8.098441e+08     59.000000  26792.000000

#### Explore Data

##### Visualisasi Comparison

In [ ]:
# Buatlah visualisasi yang menampilkan berapa banyak yang attired customer dan tidak
sns.countplot(data=df,x="Attrition_Flag")

In [ ]:
# Buatlah visualisasi yang menampilkan berapa banyak Education level berdasarkan kategori-kategorinya 
px.pie(df, names = "Education_Level")

In [ ]:
# Buatlah visualisasi yang menampilkan berapa banyak Education level berdasarkan gendernya
sns.countplot(x='Education_Level', hue='Gender', data=df)

berikan penjelasannya untuk tiap visualsiasi  disini

##### Visualisasi Distribution

In [ ]:
# Buatlah historgram untuk customer dan credit card limit
plt.title("Histogram")
plt.hist(df['Credit_Limit'], alpha=0.5, label='Credit')
plt.hist(df['Attrition_Flag'], alpha=0.5, label='Customer')
plt.legend()
plt.show()

In [ ]:
# Buatlah boxplot untuk customer dan credit card limit
sns.boxplot(y='Attrition_Flag', x='Credit_Limit', data=df)
plt.show()

##### Visualisasi Relationship

In [ ]:
# Buatlah scatterplot untuk umur customer dan credit card limit
sns.scatterplot(x='Customer_Age', y='Credit_Limit', data=df)
plt.show()

##### Visualisasi Composition

In [ ]:
# Buatlah pieplot untuk Income Category & Education Level
income_counts = df['Income_Category'].value_counts()
education_counts = df['Education_Level'].value_counts()

plt.subplot(1,2,1)
plt.pie(income_counts.values, labels=income_counts.index, autopct='%1.1f%%')
plt.title('Income Category')

plt.subplot(1,2,2)
plt.pie(education_counts.values, labels=education_counts.index, autopct='%1.1f%%')
plt.title('Education Level')

plt.tight_layout()
plt.show()

### Opsional (Nilai Plus)

In [ ]:
# Buatlah visualisasi boxplot Credit Card Limit dengan Jenis Kelamin sebagai pemisahnya (color)
sns.boxplot(x='Gender', y='Credit_Limit', data=df)
plt.show()

In [ ]:
# Buatlah visualisasi boxplot Credit Card Limit dengan Attrition Flag sebagai pemisahnya (color)
px.pie(df, names = "Education_Level")

In [ ]:
# Buatlah visualisasi boxplot Age dengan Attrition Flag sebagai pemisahnya (color)
sns.countplot(x='Education_Level', hue='Gender', data=df)

In [ ]:
# Buatlah visualisasi countplot  Attrition Flag dengan jenis kelamin sebagai pemisahnya (color)
sns.countplot(data=df,x='Attrition_Flag', hue='Gender')

In [ ]:
# Buatlah visualisasi heatmap untuk Setiap variabel numerik yang ada
num = ['Unnamed: 0','CLIENTNUM','Customer_Age','Credit_Limit']

sns.heatmap(df[num].corr(), annot=True, cmap='coolwarm')

## Algoritma Naive Bayes dan Preprocessing (pengenalan)

In [ ]:
# sebelum membuat algoritma pertama tama buatlah dataset baru dengan ketentuan
# mengambil dataset df
# Menghapus kolom Unnamed: 0, CLIENTNUM, Umur, dan Limit Kartu Kredit (initinya yang berupa primary key dan bukan tipe kategori)
# dataset dengan kolom yang sudah dihapus tadi kemudian disimpan di dataframe baru (df baru)

In [ ]:
# Buatlah sebuah fungsi naive bayes dengan ketentuan
# Mengambil data dari dataframe yang telah diproses pada blok sebelumnya (diatas)
# Nama fungsinya adalah naive_bayes
# Mengambil 1 saja parameter yaitu sebuah list berisi kategori

# Outputnya berupa prediksi Attrited Customer atau Existing Customer
# Outputnya berupa tuple (_hasilnya, persentasenya berapa) contoh (Existing Customer, 0.004)

# Tidak boleh menggunakan library manapun selain pandas dan numpy



# contoh
# def naive_bayes(prediksi:list)-> tuple :
#   ........

# jadi nanti saat saya coba masukan data 
# naive_bayes(["F",	"Uneducated","Single", "Unknown	Blue"]) akan keluar tuple berupa ("Attired Customer", 0.002)

In [ ]:
# hapus data sesuai ketentuan
data_train = df.drop(["Unnamed: 0", "CLIENTNUM", "Customer_Age", "Credit_Limit"], axis=1)

# memindah data attrition_flag ke ujung kanan
cols = data_train.columns.tolist()
cols.remove('Attrition_Flag')
cols.append('Attrition_Flag')
data_train = data_train[cols]

# print(data_train)
# Menghitung jumlah data training dan data testing
N_train = len(data_train)

# Menghitung jumlah kelas target
target_counts = data_train.groupby('Attrition_Flag')['Attrition_Flag'].count()

# Menghitung probabilitas priori untuk setiap kelas target
prior_prob = target_counts / N_train

# Menghitung probabilitas kondisional untuk setiap fitur pada setiap kelas target
cond_prob = {}
for col in data_train.columns[:-1]:
    cond_prob[col] = {}
    for val in data_train[col].unique():
        for target in data_train['Attrition_Flag'].unique():
            count = len(data_train[(data_train[col] == val) & (data_train['Attrition_Flag'] == target)])
            cond_prob[col][(val, target)] = count / target_counts[target]
            

# Fungsi Naive Bayes Classifier
def naive_bayes(x):
    prob_yes = prior_prob['Attrited Customer']
    prob_no = prior_prob['Existing Customer']
    for i, col in enumerate(data_train.columns[:-1]):
        prob_yes *= cond_prob[col][(x[i], 'Attrited Customer')]
        prob_no *= cond_prob[col][(x[i], 'Existing Customer')]
    if prob_no > prob_yes:
        return ('Existing Customer', float(prob_no))
    else:
        return ('Attrited Customer', float(prob_yes))

In [ ]:
# Contoh penggunaan fungsi naive_bayes
result = naive_bayes(["F",	"Uneducated","Single", "Unknown",	"Blue"])
result

('Existing Customer', 0.0135)